:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  box-sizing: border-box;
}

a {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
} 

body{
  margin: 0px;
  margin-top: 25vh;
  width: 100%;
  height: 100%;
  background-color: #11121d;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
hr {
  border-style: none;
  background-image: linear-gradient(270deg,black 0%,#ffad00 5%,#ffad00 45%,#004eff 55%,rgb(0, 78, 255) 95%, black 100%);
  height: 1px;
  width: 100%;
  margin: 0px;
}

::selection{
  background-color: #000;
  -webkit-text-fill-color: #ffad00;
  color:#ffad00;
}

p::selection{
  background-color: #000;
  -webkit-text-fill-color: white;
  color: white;
}


.header {
  width: 100%;
  background-color: #0c0d18;
  position: fixed;
  top: 0;
  box-shadow: 0px 7px 20px 3px #000;
  z-index: 1;
}

.nav-bar{
  margin: 0 10%;
  justify-content: space-between;
  display: flex;
  padding: 0px 35px;
  height: 65px;
}

.logo{
  max-height: 70px;
  offset-position: 50% 100%;
  offset-path: ray(45deg);
  background-color: #0c0d18;

}

.logo::before{
  content: '';
  position: absolute;
  background-color: #0c0d18;
  box-shadow: -6px 7px 20px 3px #000;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-left: 1.5px solid #004eff;
  border-top: 1.5px solid #004eff;
  border-right: 1.5px solid #ffad00;
  border-bottom: 1.5px solid #ffad00;
}


.logo::after{
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-left: 1.5px solid #004eff;
  border-top: 1.5px solid #004eff;
  border-right: 1.5px solid #ffad00;
  border-bottom: 1.5px solid #ffad00;
}

.logo:hover::before{
  transform: rotate(360deg);
  transition: transform 1s;
}

.logo:hover::after{
  transform: rotate(-360deg);
  transition: transform 1s;
}

.logo:hover .logo-img{
  height: 80px;
  max-height: 80px;
}

.logo:hover{
  height: 80px;
  max-height: 80px;
}

.logo-img{
  height: auto;
  max-height: 70px;
  transform: rotate(45deg);
  margin-top: 3px;
  user-select: none;
}

.nav-bar a{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  align-self: center;
}

.nav-link{
  background-image: linear-gradient(180deg, rgba(255,227,167,1) 0%, rgba(253,187,45,1) 8%, rgba(157,106,0,1) 20%, rgba(255,227,167,1) 29%, rgba(253,187,45,1) 45%,rgba(157,106,0,1) 51%, #000 52%, #000 54%, rgba(157,106,0,1) 55%, rgba(253,187,45,1) 75%, #000 76%, #000 78%,rgba(253,187,45,1) 79%, rgba(255,227,167,1) 83%, rgba(157,106,0,1) 98%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link::after{
  display: none;
}

.nav-link:hover::after{
  content: '';
  display: block;
  border-style: none;
  background-image: linear-gradient(270deg,rgb(0, 0, 0) 0%,#ffad00 15%,#004eff 85%, rgb(0, 0, 0) 100%);
  height: 1px;
  width: 100%;
  margin: 0px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(180deg, rgba(255,227,167,1) 0%, rgba(253,187,45,1) 8%, rgba(157,106,0,1) 20%,rgba(255,227,167,1) 25%, #000 26%, #000 28%, rgba(255,227,167,1) 29%, rgba(253,187,45,1) 45%,rgba(157,106,0,1) 51%, #000 52%, #000 54%, rgba(157,106,0,1) 55%, rgba(253,187,45,1) 76%, #000 77%, #000 79%,rgba(253,187,45,1) 80%, rgba(255,227,167,1) 83%, rgba(157,106,0,1) 98%);
  font-size: 5em;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.body-title{
  position: relative;
  overflow: hidden;
  /* border: 1.5px solid #ffad00; */
  box-shadow: inset 0px 0px 20px 9px #00000088;
}

.effect-container{
  position: absolute;
  display: flex;
  height: 50px;
  width: 100%;
  z-index: -1;
  /* top: 50%; */
  offset-position: 50% 50%;
  offset-path: ray(90deg);
  justify-content: space-evenly;
  /* animation: rotation-animation 5s ease infinite;
  animation-direction: alternate; */
}

.effect-container-rot{
  position: absolute;
  display: flex;
  height: 50px;
  width: 100%;
  z-index: -1;
  /* top: 50%; */
  offset-position: 50% 50%;
  offset-path: ray(90deg);
  justify-content: space-evenly;
  animation: rotation-animation 60s ease infinite;
  animation-direction: alternate;
}

.effect{
  position: relative;
  width: 15px;
  height: 15px;
  rotate: 45deg;
  z-index: -1;
  align-self: center;
  /* border-left: 1.5px solid #004eff;
  border-top: 1.5px solid #004eff;
  border-right: 1.5px solid #ffad00;
  border-bottom: 1.5px solid #ffad00; */
  border: 1.5px solid #ffad00;
  border-radius: 100%;
  box-shadow: 0px 0px 20px 9px #ffad00aa;
  animation: size-animation 5s ease-out infinite;
  background-image: radial-gradient(#fff, #f1c462, #ffad00);
  animation-direction: alternate;
}

@keyframes size-animation {
  0% {
    height: 5px;
    width: 5px;
    transform: translate(0px, -200px);
  }
  50% {
    height: 15px;
    width: 15px;
    transform: translate(0px, 200px);
  }
  100% {
    height: 0px;
    width: 0px;
    transform: translate(0px, -200px);
  }
}

@keyframes rotation-animation {
  0% {
    rotate: 45deg;
  }
  50% {
  }
  100% {
    rotate: 405deg;
  }
}



.item-box{
  width: auto;
  background-color: #0c0d18;
  margin: 100px 100px;
  padding: 20px;
  box-shadow: inset 0px 0px 12px 2px #000;

}


.item-name{
  width: 100%;
}

.item-name h1{
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(180deg, rgba(255,227,167,1) 0%, rgba(253,187,45,1) 8%, rgba(157,106,0,1) 20%,rgba(255,227,167,1) 25%, #000 26%, #000 28%, rgba(255,227,167,1) 29%, rgba(253,187,45,1) 45%,rgba(157,106,0,1) 51%, #000 52%, #000 54%, rgba(157,106,0,1) 55%, rgba(253,187,45,1) 75%, #000 76%, #000 78%,rgba(253,187,45,1) 79%, rgba(255,227,167,1) 83%, rgba(157,106,0,1) 98%);
  font-size: 2em;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item-description{
  margin: 20px 50px;
}
.item-description p{
  text-align: center;
}

.item-content {
  margin: 20px 50px;
}

.item-input input{
  width: 100%;
  margin: 25px 0px;
  font-size: 2em;
  padding: 20px;
  height: auto;
  background-color: #0c0d18;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg,#ffad00 5%,#ffad00 45%,#004eff 55%,#004eff 95%);

}

.item-input input:focus{
  outline: none;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg,#ffad00 5%,#ffad00 45%,#004eff 55%,#004eff 95%);
  
}


.input-locked{
  position: relative;
  z-index: 0;
}

.input-locked:hover .log-in-hover{
  display: flex;
  justify-content: space-evenly;
}

.log-in-hover{
  display: none;
  justify-content: space-evenly;
  position:absolute;
  top: 0;
  width: 100%;
  margin: 25px 0px;
  background-image: linear-gradient(90deg,transparent 0%, #000 20%,#000 40%,transparent 50%,#000 60%, #000 80%,transparent 100%);
}


.log-in-button{
  width: 100%;
  padding: 20px;
  border: none;
  background-color: transparent;
  color: #ffad00aa;
}

.log-in-button:hover{
  color: #ffad00;
}

.log-in-field{
  text-wrap: nowrap;
  overflow: hidden;
  cursor: pointer;
  
  display: flex; 
  justify-content: center;
}

.log-in-container{
  display: flex;
}

.log-in-icon{
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 30px;
  position: relative;
}

.log-in-text{
  font-size: 2em;
  align-self: center;
}

.bio-container{
  display: flex;
  flex-wrap: wrap;
  margin: 0 5vmax;
  gap: 5vmax;
  justify-content: center;
}


.item-bio{
  /* background-color: #00000088; */
  /* margin: 0 5%; */
  flex-grow: 1;
  flex-basis: 250px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: stretch; */
  overflow: hidden;
  
  /* padding: 40px; */
}

.img-bio-container{
  height: 40vmin;
}

.img-bio{
  
  /* background-color: #0c0d18; */
  /* overflow: hidden; */
  width: min-content;
  offset-position: 50% 55%;
  offset-path: ray(45deg);
  position: relative;
  /* margin-bottom: 50%; */
  /* overflow: hidden; */

}

.bio-decoration{
  width: 20vmin;
  overflow: hidden;

  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bio-decoration::before{
  content: '';
  position: absolute;
  background-color: #0c0d18;
  /* overflow: hidden; */
  box-shadow: -6px 7px 20px 3px #000;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-left: 1.5px solid #004eff;
  border-top: 1.5px solid #004eff;
  border-right: 1.5px solid #ffad00;
  border-bottom: 1.5px solid #ffad00;
}


.bio-decoration::after{
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-left: 1.5px solid #004eff;
  border-top: 1.5px solid #004eff;
  border-right: 1.5px solid #ffad00;
  border-bottom: 1.5px solid #ffad00;
}

.img-bio-container:hover .bio-decoration::before{
  transform: rotate(360deg);
  transition: transform 1s;
}

.img-bio-container:hover .bio-decoration::after{
  transform: rotate(-360deg);
  transition: transform 1s;
}

.img-bio-container:hover .bio-image{
  transform: rotate(-45deg);
  offset-position: 50% 65%;
  width: 100%;
  height: auto;
}

.img-bio-container:hover .img-bio{
  offset-position: 50% 50%;
  transform: rotate(45deg);
  /* border-radius: 100%; */

}

.img-bio-container:hover .bio-decoration{
  overflow:hidden;
  /* aspect-ratio: 1/1; */
  height: 30vmin;
  width: 30vmin;
  /* transform: rotate(-45deg); */
  /* max-height: 25vmin; */
}

.img-bio-container:hover + .bio-info .bio-description{
    color: white;
}


.bio-image{
  /* display: none; */
  /* z-index: -1; */
  background-color: #f1c462;
  /* aspect-ratio: 1/1; */
  /* width: 100px; */
  /* justify-content: stretch; */
  /* height: 100px; */
  /* width: 150%; */
  height: 200%;
  offset-position: 45% 55%;
  /* offset-position: 45% 55%; */
  offset-path: ray(135deg);
  /* max-height: 200px; */
  /* transform: rotate(45deg); */
  /* margin-top: 10px; */
  user-select: none;
}

.bio-info{
  /* background-color: #f1c462; */
  /* background-color:#f1c462; */
  /* offset-position: 50% 120%;
  offset-path: ray(90deg); */
  position: relative;
  display: block;
}

.bio-name{
  text-align: center;
  font-size: 1.5em;
}

.bio-name h2{
  margin: 0px;
}

.bio-description{
  color: transparent;
  text-align: center;
}

.partners-body{
  padding: 8% 0;
}


.section-title{
  display: flex;
  justify-content: center;
  text-align: center;
}

.section-title h1{
  
  text-transform: uppercase;
  background-image: linear-gradient(180deg, rgba(255,227,167,1) 0%, rgba(253,187,45,1) 8%, rgba(157,106,0,1) 20%,rgba(255,227,167,1) 25%, #000 26%, #000 28%, rgba(255,227,167,1) 29%, rgba(253,187,45,1) 45%,rgba(157,106,0,1) 51%, #000 52%, #000 54%, rgba(157,106,0,1) 55%, rgba(253,187,45,1) 75%, #000 76%, #000 78%,rgba(253,187,45,1) 79%, rgba(255,227,167,1) 83%, rgba(157,106,0,1) 98%);
  font-size: 3em;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-title::before{
  content:  "";
  display: flex;
  height: 0.05em;
  width: 100%;
  margin: 20px;
  position: relative;
  align-self: center;
  background-image: linear-gradient(270deg,#004eff 0%,#004eff 5%,#004eff 45%,#004eff 55%,rgb(0, 78, 255) 95%, black 100%);
  
}

.section-title::after{
  content:  "";
  display: flex;
  height: 0.05em;
  width: 100%;
  margin: 20px;
  position: relative;
  align-self: center;
  background-image: linear-gradient(270deg,black 0%,#ffad00 5%,#ffad00 45%,#ffad00 55%,#ffad00 95%, #ffad00 100%);
}